#intro{background-image: url("./images/approve.gif");
	   background-size: 1600px 900px;
	   }
#about{background-image: url("./images/img.jpg");
	   }
#services{background-image: url("./images/banana.jpg");
	   }

#wip{color:yellow;
}
#introfont1{
	font-size: 40px;
font-family: "Times New Roman", Times, serif;
}

